body {
    background-color: #f9f9f9;
}

/* Jumbotron */
.jumbotron {
    background-color: #0F1134;
    background-size: cover;
    height: 580px;
    margin-top: -77px;
}

/* Title */
.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 130px;
}

/* Gambar Deskripsi Kelas */
.gmbr {
    width: 790px;
    height: 452px;
    margin-top: -250px;
    margin-left: 250px;
}

/* Tombol */
.btn-mulai {
    color: black;
    background-color: #f5c116;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    width: 788px;
    height: 68px;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 30px;
}

/* Deskripsi */
h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.deskripsi {
    text-align: justify;
    margin-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.isi-bab {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
}